body {
    /* font-family: "Times New Roman", Georgia, Serif; */
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Playfair Display";
    letter-spacing: 2px;
}

a:link {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

/* relevant styles */

.img_wrap {
    position: relative;
}

.img_description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(88, 88, 88, 0.8);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description_layer {
    visibility: visible;
    opacity: 1;
}

.img_description {
    transition: .2s;
    transform: translateY(1em);
}

.img_wrap:hover .img_description {
    transform: translateY(0);
}

.bg-mark {
    background-color: rgba(88, 88, 88, 0.6);
    transition: 0.3s;
}

.img_wrap:hover .bg-mark {
    opacity: 0;
    transition: 0.3s;
}

.mobile-width-100 {
    width: 100%;
}

.w3em {
    width: 3em;
}

.w3_5em {
    width: 3.5em;
}

.w4em {
    width: 4em;
}