body {
    /* font-family: "Times New Roman", Georgia, Serif; */
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Playfair Display";
    letter-spacing: 2px;
}

a:link {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}